# === Maven ===
/target/
!.mvn/wrapper/maven-wrapper.jar

# === Logs ===
*.log

# === IntelliJ IDEA ===
*.iml
.idea/
*.ipr
*.iws

# === Eclipse ===
.classpath
.project
.settings/

# === NetBeans ===
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.build.xml

# === STS (Spring Tool Suite) ===
.apt_generated
.factorypath
.springBeans
.sts4-cache

# === OS Files ===
.DS_Store
Thumbs.db

# === Other ===
*.swp

secrets.properties

# Ignore compiled Java classes and build output
*.class